option {
    background-color: #fff;
}
.log {
	color:#d7d;
}
.reg {
	width:100px;
	float:right;
	
}
.selector {
	margin-right: 6px;
	border-radius: 0px;
}
.font-reg {
	color: dodgerblue;
    font-size: 15px;
    vertical-align: bottom;
}